@charset "utf-8";
/*  서기석 님꺼  */

.row {
	position: relative;
}

.row::after {
	content: "";
	display: block;
	clear: both;
}

.row [class*="col_"],
.row [class*="div_"] {
	float: left;
	box-sizing: border-box;
	width: 100%;
}

/* col */
.row .col_1  { width: 8.3333%  }
.row .col_2  { width: 16.6666% }
.row .col_3  { width: 24.9999% }
.row .col_4  { width: 33.3333% }
.row .col_5  { width: 41.6666% }
.row .col_6  { width: 50%      }
.row .col_7  { width: 58.3333% }
.row .col_8  { width: 66.6666% }
.row .col_9  { width: 75%      }
.row .col_10 { width: 83.3333% }
.row .col_11 { width: 91.6666% }
.row .col_12 { width: 100%     }
@media (max-width: 600px) {
	.row .col_s_1  { width: 8.3333%  }
	.row .col_s_2  { width: 16.6666% }
	.row .col_s_3  { width: 24.9999% }
	.row .col_s_4  { width: 33.3333% }
	.row .col_s_5  { width: 41.6666% }
	.row .col_s_6  { width: 50%      }
	.row .col_s_7  { width: 58.3333% }
	.row .col_s_8  { width: 66.6666% }
	.row .col_s_9  { width: 75%      }
	.row .col_s_10 { width: 83.3333% }
	.row .col_s_11 { width: 91.6666% }
	.row .col_s_12 { width: 100%     }
}
@media (min-width: 601px) and (max-width: 900px) {
	.row .col_m_1  { width: 8.3333%  }
	.row .col_m_2  { width: 16.6666% }
	.row .col_m_3  { width: 24.9999% }
	.row .col_m_4  { width: 33.3333% }
	.row .col_m_5  { width: 41.6666% }
	.row .col_m_6  { width: 50%      }
	.row .col_m_7  { width: 58.3333% }
	.row .col_m_8  { width: 66.6666% }
	.row .col_m_9  { width: 75%      }
	.row .col_m_10 { width: 83.3333% }
	.row .col_m_11 { width: 91.6666% }
	.row .col_m_12 { width: 100%     }
}
@media (min-width: 901px) {
	.row .col_l_1  { width: 8.3333%  }
	.row .col_l_2  { width: 16.6666% }
	.row .col_l_3  { width: 24.9999% }
	.row .col_l_4  { width: 33.3333% }
	.row .col_l_5  { width: 41.6666% }
	.row .col_l_6  { width: 50%      }
	.row .col_l_7  { width: 58.3333% }
	.row .col_l_8  { width: 66.6666% }
	.row .col_l_9  { width: 75%      }
	.row .col_l_10 { width: 83.3333% }
	.row .col_l_11 { width: 91.6666% }
	.row .col_l_12 { width: 100%     }
}



/* div_num = 100%/num */
.row .div_1  { width: 100%     }
.row .div_2  { width: 50%      }
.row .div_3  { width: 33.3333% }
.row .div_4  { width: 25%      }
.row .div_5  { width: 20%      }
.row .div_6  { width: 16.6666% }
.row .div_7  { width: 14.2857% }
.row .div_8  { width: 12.5%    }
.row .div_9  { width: 11.1111% }
.row .div_10 { width: 10%      }
.row .div_11 { width: 9.0909%  }
.row .div_12 { width: 8.3333%  }
@media (max-width: 600px) {
	.row .div_s_1  { width: 100%     }
	.row .div_s_2  { width: 50%      }
	.row .div_s_3  { width: 33.3333% }
	.row .div_s_4  { width: 25%      }
	.row .div_s_5  { width: 20%      }
	.row .div_s_6  { width: 16.6666% }
	.row .div_s_7  { width: 14.2857% }
	.row .div_s_8  { width: 12.5%    }
	.row .div_s_9  { width: 11.1111% }
	.row .div_s_10 { width: 10%      }
	.row .div_s_11 { width: 9.0909%  }
	.row .div_s_12 { width: 8.3333%  }
}
@media (min-width: 601px) and (max-width: 900px) {
	.row .div_m_1  { width: 100%     }
	.row .div_m_2  { width: 50%      }
	.row .div_m_3  { width: 33.3333% }
	.row .div_m_4  { width: 25%      }
	.row .div_m_5  { width: 20%      }
	.row .div_m_6  { width: 16.6666% }
	.row .div_m_7  { width: 14.2857% }
	.row .div_m_8  { width: 12.5%    }
	.row .div_m_9  { width: 11.1111% }
	.row .div_m_10 { width: 10%      }
	.row .div_m_11 { width: 9.0909%  }
	.row .div_m_12 { width: 8.3333%  }
}
@media (min-width: 901px) {
	.row .div_l_1  { width: 100%     }
	.row .div_l_2  { width: 50%      }
	.row .div_l_3  { width: 33.3333% }
	.row .div_l_4  { width: 25%      }
	.row .div_l_5  { width: 20%      }
	.row .div_l_6  { width: 16.6666% }
	.row .div_l_7  { width: 14.2857% }
	.row .div_l_8  { width: 12.5%    }
	.row .div_l_9  { width: 11.1111% }
	.row .div_l_10 { width: 10%      }
	.row .div_l_11 { width: 9.0909%  }
	.row .div_l_12 { width: 8.3333%  }
}

/* div_num1_num2 = num1/num2*/
.row .div_1_2,
.row .div_2_4,
.row .div_3_6,
.row .div_4_8,
.row .div_5_10,
.row .div_6_12  { width: 50%;      }
.row .div_1_3,
.row .div_2_6,
.row .div_3_9,
.row .div_4_12  { width: 33.3333%; }
.row .div_2_3,
.row .div_4_6,
.row .div_6_9,
.row .div_8_12  { width: 66.6666%; }
.row .div_1_4,
.row .div_2_8,
.row .div_3_12  { width: 25%;      }
.row .div_3_4,
.row .div_6_8,
.row .div_9_12  { width: 75%;      }
.row .div_1_5,
.row .div_2_10  { width: 20%;      }
.row .div_2_5,
.row .div_4_10  { width: 40%;      }
.row .div_3_5,
.row .div_6_10  { width: 60%;      }
.row .div_4_5,
.row .div_8_10  { width: 80%;      }
.row .div_1_6,
.row .div_2_12  { width: 16.6666%; }
.row .div_5_6   { width: 83.3333%; }
.row .div_1_7   { width: 14.2857%; }
.row .div_2_7   { width: 28.5714%; }
.row .div_3_7   { width: 42.8571%; }
.row .div_4_7   { width: 57.1428%; }
.row .div_5_7   { width: 71.4285%; }
.row .div_6_7   { width: 85.7142%; }
.row .div_1_8   { width: 12.5%;    }
.row .div_3_8   { width: 37.5%;    }
.row .div_5_8   { width: 62.5%;    }
.row .div_7_8   { width: 87.5%;    }
.row .div_1_9   { width: 11.1111%; }
.row .div_2_9   { width: 22.2222%; }
.row .div_4_9   { width: 44.4444%; }
.row .div_5_9   { width: 55.5555%; }
.row .div_7_9   { width: 77.7777%; }
.row .div_8_9   { width: 88.8888%; }
.row .div_1_10  { width: 10%;      }
.row .div_3_10  { width: 30%;      }
.row .div_7_10  { width: 70%;      }
.row .div_9_10  { width: 90%;      }
.row .div_1_11  { width: 9.0909%;  }
.row .div_2_11  { width: 18.1818%; }
.row .div_3_11  { width: 27.2727%; }
.row .div_4_11  { width: 36.3636%; }
.row .div_5_11  { width: 45.4545%; }
.row .div_6_11  { width: 54.5454%; }
.row .div_7_11  { width: 63.6363%; }
.row .div_8_11  { width: 72.7272%; }
.row .div_9_11  { width: 81.8181%; }
.row .div_10_11 { width: 90.9090%; }
.row .div_1_12  { width: 8.3333%;  }
.row .div_5_12  { width: 41.6666%; }
.row .div_7_12  { width: 58.3333%; }
.row .div_10_12 { width: 83.3333%; }
.row .div_11_12 { width: 91.6666%; }
@media (max-width: 600px) {
	.row .div_s_1_2,
	.row .div_s_2_4,
	.row .div_s_3_6,
	.row .div_s_4_8,
	.row .div_s_5_10,
	.row .div_s_6_12  { width: 50%;      }
	.row .div_s_1_3,
	.row .div_s_2_6,
	.row .div_s_3_9,
	.row .div_s_4_12  { width: 33.3333%; }
	.row .div_s_2_3,
	.row .div_s_4_6,
	.row .div_s_6_9,
	.row .div_s_8_12  { width: 66.6666%; }
	.row .div_s_1_4,
	.row .div_s_2_8,
	.row .div_s_3_12  { width: 25%;      }
	.row .div_s_3_4,
	.row .div_s_6_8,
	.row .div_s_9_12  { width: 75%;      }
	.row .div_s_1_5,
	.row .div_s_2_10  { width: 20%;      }
	.row .div_s_2_5,
	.row .div_s_4_10  { width: 40%;      }
	.row .div_s_3_5,
	.row .div_s_6_10  { width: 60%;      }
	.row .div_s_4_5,
	.row .div_s_8_10  { width: 80%;      }
	.row .div_s_1_6,
	.row .div_s_2_12  { width: 16.6666%; }
	.row .div_s_5_6   { width: 83.3333%; }
	.row .div_s_1_7   { width: 14.2857%; }
	.row .div_s_2_7   { width: 28.5714%; }
	.row .div_s_3_7   { width: 42.8571%; }
	.row .div_s_4_7   { width: 57.1428%; }
	.row .div_s_5_7   { width: 71.4285%; }
	.row .div_s_6_7   { width: 85.7142%; }
	.row .div_s_1_8   { width: 12.5%;    }
	.row .div_s_3_8   { width: 37.5%;    }
	.row .div_s_5_8   { width: 62.5%;    }
	.row .div_s_7_8   { width: 87.5%;    }
	.row .div_s_1_9   { width: 11.1111%; }
	.row .div_s_2_9   { width: 22.2222%; }
	.row .div_s_4_9   { width: 44.4444%; }
	.row .div_s_5_9   { width: 55.5555%; }
	.row .div_s_7_9   { width: 77.7777%; }
	.row .div_s_8_9   { width: 88.8888%; }
	.row .div_s_1_10  { width: 10%;      }
	.row .div_s_3_10  { width: 30%;      }
	.row .div_s_7_10  { width: 70%;      }
	.row .div_s_9_10  { width: 90%;      }
	.row .div_s_1_11  { width: 9.0909%;  }
	.row .div_s_2_11  { width: 18.1818%; }
	.row .div_s_3_11  { width: 27.2727%; }
	.row .div_s_4_11  { width: 36.3636%; }
	.row .div_s_5_11  { width: 45.4545%; }
	.row .div_s_6_11  { width: 54.5454%; }
	.row .div_s_7_11  { width: 63.6363%; }
	.row .div_s_8_11  { width: 72.7272%; }
	.row .div_s_9_11  { width: 81.8181%; }
	.row .div_s_10_11 { width: 90.9090%; }
	.row .div_s_1_12  { width: 8.3333%;  }
	.row .div_s_5_12  { width: 41.6666%; }
	.row .div_s_7_12  { width: 58.3333%; }
	.row .div_s_10_12 { width: 83.3333%; }
	.row .div_s_11_12 { width: 91.6666%; }
}
@media (min-width: 601px) and (max-width: 900px) {
	.row .div_m_1_2,
	.row .div_m_2_4,
	.row .div_m_3_6,
	.row .div_m_4_8,
	.row .div_m_5_10,
	.row .div_m_6_12  { width: 50%;      }
	.row .div_m_1_3,
	.row .div_m_2_6,
	.row .div_m_3_9,
	.row .div_m_4_12  { width: 33.3333%; }
	.row .div_m_2_3,
	.row .div_m_4_6,
	.row .div_m_6_9,
	.row .div_m_8_12  { width: 66.6666%; }
	.row .div_m_1_4,
	.row .div_m_2_8,
	.row .div_m_3_12  { width: 25%;      }
	.row .div_m_3_4,
	.row .div_m_6_8,
	.row .div_m_9_12  { width: 75%;      }
	.row .div_m_1_5,
	.row .div_m_2_10  { width: 20%;      }
	.row .div_m_2_5,
	.row .div_m_4_10  { width: 40%;      }
	.row .div_m_3_5,
	.row .div_m_6_10  { width: 60%;      }
	.row .div_m_4_5,
	.row .div_m_8_10  { width: 80%;      }
	.row .div_m_1_6,
	.row .div_m_2_12  { width: 16.6666%; }
	.row .div_m_5_6   { width: 83.3333%; }
	.row .div_m_1_7   { width: 14.2857%; }
	.row .div_m_2_7   { width: 28.5714%; }
	.row .div_m_3_7   { width: 42.8571%; }
	.row .div_m_4_7   { width: 57.1428%; }
	.row .div_m_5_7   { width: 71.4285%; }
	.row .div_m_6_7   { width: 85.7142%; }
	.row .div_m_1_8   { width: 12.5%;    }
	.row .div_m_3_8   { width: 37.5%;    }
	.row .div_m_5_8   { width: 62.5%;    }
	.row .div_m_7_8   { width: 87.5%;    }
	.row .div_m_1_9   { width: 11.1111%; }
	.row .div_m_2_9   { width: 22.2222%; }
	.row .div_m_4_9   { width: 44.4444%; }
	.row .div_m_5_9   { width: 55.5555%; }
	.row .div_m_7_9   { width: 77.7777%; }
	.row .div_m_8_9   { width: 88.8888%; }
	.row .div_m_1_10  { width: 10%;      }
	.row .div_m_3_10  { width: 30%;      }
	.row .div_m_7_10  { width: 70%;      }
	.row .div_m_9_10  { width: 90%;      }
	.row .div_m_1_11  { width: 9.0909%;  }
	.row .div_m_2_11  { width: 18.1818%; }
	.row .div_m_3_11  { width: 27.2727%; }
	.row .div_m_4_11  { width: 36.3636%; }
	.row .div_m_5_11  { width: 45.4545%; }
	.row .div_m_6_11  { width: 54.5454%; }
	.row .div_m_7_11  { width: 63.6363%; }
	.row .div_m_8_11  { width: 72.7272%; }
	.row .div_m_9_11  { width: 81.8181%; }
	.row .div_m_10_11 { width: 90.9090%; }
	.row .div_m_1_12  { width: 8.3333%;  }
	.row .div_m_5_12  { width: 41.6666%; }
	.row .div_m_7_12  { width: 58.3333%; }
	.row .div_m_10_12 { width: 83.3333%; }
	.row .div_m_11_12 { width: 91.6666%; }
}
@media (min-width: 900px) {
	.row .div_l_1_2,
	.row .div_l_2_4,
	.row .div_l_3_6,
	.row .div_l_4_8,
	.row .div_l_5_10,
	.row .div_l_6_12  { width: 50%;      }
	.row .div_l_1_3,
	.row .div_l_2_6,
	.row .div_l_3_9,
	.row .div_l_4_12  { width: 33.3333%; }
	.row .div_l_2_3,
	.row .div_l_4_6,
	.row .div_l_6_9,
	.row .div_l_8_12  { width: 66.6666%; }
	.row .div_l_1_4,
	.row .div_l_2_8,
	.row .div_l_3_12  { width: 25%;      }
	.row .div_l_3_4,
	.row .div_l_6_8,
	.row .div_l_9_12  { width: 75%;      }
	.row .div_l_1_5,
	.row .div_l_2_10  { width: 20%;      }
	.row .div_l_2_5,
	.row .div_l_4_10  { width: 40%;      }
	.row .div_l_3_5,
	.row .div_l_6_10  { width: 60%;      }
	.row .div_l_4_5,
	.row .div_l_8_10  { width: 80%;      }
	.row .div_l_1_6,
	.row .div_l_2_12  { width: 16.6666%; }
	.row .div_l_5_6   { width: 83.3333%; }
	.row .div_l_1_7   { width: 14.2857%; }
	.row .div_l_2_7   { width: 28.5714%; }
	.row .div_l_3_7   { width: 42.8571%; }
	.row .div_l_4_7   { width: 57.1428%; }
	.row .div_l_5_7   { width: 71.4285%; }
	.row .div_l_6_7   { width: 85.7142%; }
	.row .div_l_1_8   { width: 12.5%;    }
	.row .div_l_3_8   { width: 37.5%;    }
	.row .div_l_5_8   { width: 62.5%;    }
	.row .div_l_7_8   { width: 87.5%;    }
	.row .div_l_1_9   { width: 11.1111%; }
	.row .div_l_2_9   { width: 22.2222%; }
	.row .div_l_4_9   { width: 44.4444%; }
	.row .div_l_5_9   { width: 55.5555%; }
	.row .div_l_7_9   { width: 77.7777%; }
	.row .div_l_8_9   { width: 88.8888%; }
	.row .div_l_1_10  { width: 10%;      }
	.row .div_l_3_10  { width: 30%;      }
	.row .div_l_7_10  { width: 70%;      }
	.row .div_l_9_10  { width: 90%;      }
	.row .div_l_1_11  { width: 9.0909%;  }
	.row .div_l_2_11  { width: 18.1818%; }
	.row .div_l_3_11  { width: 27.2727%; }
	.row .div_l_4_11  { width: 36.3636%; }
	.row .div_l_5_11  { width: 45.4545%; }
	.row .div_l_6_11  { width: 54.5454%; }
	.row .div_l_7_11  { width: 63.6363%; }
	.row .div_l_8_11  { width: 72.7272%; }
	.row .div_l_9_11  { width: 81.8181%; }
	.row .div_l_10_11 { width: 90.9090%; }
	.row .div_l_1_12  { width: 8.3333%;  }
	.row .div_l_5_12  { width: 41.6666%; }
	.row .div_l_7_12  { width: 58.3333%; }
	.row .div_l_10_12 { width: 83.3333%; }
	.row .div_l_11_12 { width: 91.6666%; }
}

/* gutter */
.row .gutter,
.gutter_group [class*="col_"],
.gutter_group [class*="div_"] {
	padding-left: 1em;
	padding-right: 1em;
}
.row .gutter_s,
.gutter_group_s [class*="col_"],
.gutter_group_s [class*="div_"] {
	padding-left: 1em;
	padding-right: 1em;
}
.row .gutter_m,
.gutter_group_m [class*="col_"],
.gutter_group_m [class*="div_"] {
	padding-left: 1em;
	padding-right: 1em;
}
.row .gutter_l,
.gutter_group_l [class*="col_"],
.gutter_group_l [class*="div_"] {
	padding-left: 1em;
	padding-right: 1em;
}

/* not_gutter */
.row .not_gutter {
	padding-left: 0;
	padding-right: 0;
}
.row .not_gutter_s {
	padding-left: 0;
	padding-right: 0;
}
.row .not_gutter_m {
	padding-left: 0;
	padding-right: 0;
}
.row .not_gutter_l {
	padding-left: 0;
	padding-right: 0;
}

/* push, pull */
.row [class*="push_"],
.row [class*="pull_"] {
	position: relative;
}

.row .push_1  { left: 8.3333%  }
.row .push_2  { left: 16.6666% }
.row .push_3  { left: 24.9999% }
.row .push_4  { left: 33.3333% }
.row .push_5  { left: 41.6666% }
.row .push_6  { left: 49.9999% }
.row .push_7  { left: 58.3333% }
.row .push_8  { left: 66.6666% }
.row .push_9  { left: 74.9999% }
.row .push_10 { left: 83.3333% }
.row .push_11 { left: 91.6666% }
.row .push_12 { left: 100%     }
@media (max-width: 600px) {
	.row .push_s_1  { left: 8.3333%  }
	.row .push_s_2  { left: 16.6666% }
	.row .push_s_3  { left: 24.9999% }
	.row .push_s_4  { left: 33.3333% }
	.row .push_s_5  { left: 41.6666% }
	.row .push_s_6  { left: 49.9999% }
	.row .push_s_7  { left: 58.3333% }
	.row .push_s_8  { left: 66.6666% }
	.row .push_s_9  { left: 74.9999% }
	.row .push_s_10 { left: 83.3333% }
	.row .push_s_11 { left: 91.6666% }
	.row .push_s_12 { left: 100%     }
}
@media (min-width: 601px) and (max-width: 900px) {
	.row .push_m_1  { left: 8.3333%  }
	.row .push_m_2  { left: 16.6666% }
	.row .push_m_3  { left: 24.9999% }
	.row .push_m_4  { left: 33.3333% }
	.row .push_m_5  { left: 41.6666% }
	.row .push_m_6  { left: 49.9999% }
	.row .push_m_7  { left: 58.3333% }
	.row .push_m_8  { left: 66.6666% }
	.row .push_m_9  { left: 74.9999% }
	.row .push_m_10 { left: 83.3333% }
	.row .push_m_11 { left: 91.6666% }
	.row .push_m_12 { left: 100%     }
}
@media (min-width: 901px) {
		.row .plsh_s_1  { left: 8.3333%  }
	.row .push_l_2  { left: 16.6666% }
	.row .push_l_3  { left: 24.9999% }
	.row .push_l_4  { left: 33.3333% }
	.row .push_l_5  { left: 41.6666% }
	.row .push_l_6  { left: 49.9999% }
	.row .push_l_7  { left: 58.3333% }
	.row .push_l_8  { left: 66.6666% }
	.row .push_l_9  { left: 74.9999% }
	.row .push_l_10 { left: 83.3333% }
	.row .push_l_11 { left: 91.6666% }
	.row .push_l_12 { left: 100%     }
}

.row .pull_1  { right: 8.3333%  }
.row .pull_2  { right: 16.6666% }
.row .pull_3  { right: 24.9999% }
.row .pull_4  { right: 33.3333% }
.row .pull_5  { right: 41.6666% }
.row .pull_6  { right: 49.9999% }
.row .pull_7  { right: 58.3333% }
.row .pull_8  { right: 66.6666% }
.row .pull_9  { right: 74.9999% }
.row .pull_10 { right: 83.3333% }
.row .pull_11 { right: 91.6666% }
.row .pull_12 { right: 100%     }
@media (max-width: 600px) {
	.row .pull_s_1  { right: 8.3333%  }
	.row .pull_s_2  { right: 16.6666% }
	.row .pull_s_3  { right: 24.9999% }
	.row .pull_s_4  { right: 33.3333% }
	.row .pull_s_5  { right: 41.6666% }
	.row .pull_s_6  { right: 49.9999% }
	.row .pull_s_7  { right: 58.3333% }
	.row .pull_s_8  { right: 66.6666% }
	.row .pull_s_9  { right: 74.9999% }
	.row .pull_s_10 { right: 83.3333% }
	.row .pull_s_11 { right: 91.6666% }
	.row .pull_s_12 { right: 100%     }	
}
@media (min-width: 601px) and (max-width: 900px) {
	.row .pull_m_1  { right: 8.3333%  }
	.row .pull_m_2  { right: 16.6666% }
	.row .pull_m_3  { right: 24.9999% }
	.row .pull_m_4  { right: 33.3333% }
	.row .pull_m_5  { right: 41.6666% }
	.row .pull_m_6  { right: 49.9999% }
	.row .pull_m_7  { right: 58.3333% }
	.row .pull_m_8  { right: 66.6666% }
	.row .pull_m_9  { right: 74.9999% }
	.row .pull_m_10 { right: 83.3333% }
	.row .pull_m_11 { right: 91.6666% }
	.row .pull_m_12 { right: 100%     }	
}
@media (min-width: 901px) {
	.row .pull_l_1  { right: 8.3333%  }
	.row .pull_l_2  { right: 16.6666% }
	.row .pull_l_3  { right: 24.9999% }
	.row .pull_l_4  { right: 33.3333% }
	.row .pull_l_5  { right: 41.6666% }
	.row .pull_l_6  { right: 49.9999% }
	.row .pull_l_7  { right: 58.3333% }
	.row .pull_l_8  { right: 66.6666% }
	.row .pull_l_9  { right: 74.9999% }
	.row .pull_l_10 { right: 83.3333% }
	.row .pull_l_11 { right: 91.6666% }
	.row .pull_l_12 { right: 100%     }	
}

/* prefix, suffix - margin, padding */
.row .prefix_1  { margin-left: 8.3333%  }
.row .prefix_2  { margin-left: 16.6666% }
.row .prefix_3  { margin-left: 24.9999% }
.row .prefix_4  { margin-left: 33.3333% }
.row .prefix_5  { margin-left: 41.6666% }
.row .prefix_6  { margin-left: 49.9999% }
.row .prefix_7  { margin-left: 58.3333% }
.row .prefix_8  { margin-left: 66.6666% }
.row .prefix_9  { margin-left: 74.9999% }
.row .prefix_10 { margin-left: 83.3333% }
.row .prefix_11 { margin-left: 91.6666% }
.row .prefix_12 { margin-left: 100%     }
@media (max-width: 600px) {
	.row .prefix_s_1  { margin-left: 8.3333%  }
	.row .prefix_s_2  { margin-left: 16.6666% }
	.row .prefix_s_3  { margin-left: 24.9999% }
	.row .prefix_s_4  { margin-left: 33.3333% }
	.row .prefix_s_5  { margin-left: 41.6666% }
	.row .prefix_s_6  { margin-left: 49.9999% }
	.row .prefix_s_7  { margin-left: 58.3333% }
	.row .prefix_s_8  { margin-left: 66.6666% }
	.row .prefix_s_9  { margin-left: 74.9999% }
	.row .prefix_s_10 { margin-left: 83.3333% }
	.row .prefix_s_11 { margin-left: 91.6666% }
	.row .prefix_s_12 { margin-left: 100%     }
}
@media (min-width: 601px) and (max-width: 900px) {
	.row .prefix_m_1  { margin-left: 8.3333%  }
	.row .prefix_m_2  { margin-left: 16.6666% }
	.row .prefix_m_3  { margin-left: 24.9999% }
	.row .prefix_m_4  { margin-left: 33.3333% }
	.row .prefix_m_5  { margin-left: 41.6666% }
	.row .prefix_m_6  { margin-left: 49.9999% }
	.row .prefix_m_7  { margin-left: 58.3333% }
	.row .prefix_m_8  { margin-left: 66.6666% }
	.row .prefix_m_9  { margin-left: 74.9999% }
	.row .prefix_m_10 { margin-left: 83.3333% }
	.row .prefix_m_11 { margin-left: 91.6666% }
	.row .prefix_m_12 { margin-left: 100%     }	
}
@media (min-width: 901px) {
	.row .prefix_l_1  { margin-left: 8.3333%  }
	.row .prefix_l_2  { margin-left: 16.6666% }
	.row .prefix_l_3  { margin-left: 24.9999% }
	.row .prefix_l_4  { margin-left: 33.3333% }
	.row .prefix_l_5  { margin-left: 41.6666% }
	.row .prefix_l_6  { margin-left: 49.9999% }
	.row .prefix_l_7  { margin-left: 58.3333% }
	.row .prefix_l_8  { margin-left: 66.6666% }
	.row .prefix_l_9  { margin-left: 74.9999% }
	.row .prefix_l_10 { margin-left: 83.3333% }
	.row .prefix_l_11 { margin-left: 91.6666% }
	.row .prefix_l_12 { margin-left: 100%     }	
}

.row .suffix_1  { margin-right: 8.3333%  }
.row .suffix_2  { margin-right: 16.6666% }
.row .suffix_3  { margin-right: 24.9999% }
.row .suffix_4  { margin-right: 33.3333% }
.row .suffix_5  { margin-right: 41.6666% }
.row .suffix_6  { margin-right: 49.9999% }
.row .suffix_7  { margin-right: 58.3333% }
.row .suffix_8  { margin-right: 66.6666% }
.row .suffix_9  { margin-right: 74.9999% }
.row .suffix_10 { margin-right: 83.3333% }
.row .suffix_11 { margin-right: 91.6666% }
.row .suffix_12 { margin-right: 100%     }
@media (max-width: 600px) {
	.row .suffix_s_1  { margin-right: 8.3333%  }
	.row .suffix_s_2  { margin-right: 16.6666% }
	.row .suffix_s_3  { margin-right: 24.9999% }
	.row .suffix_s_4  { margin-right: 33.3333% }
	.row .suffix_s_5  { margin-right: 41.6666% }
	.row .suffix_s_6  { margin-right: 49.9999% }
	.row .suffix_s_7  { margin-right: 58.3333% }
	.row .suffix_s_8  { margin-right: 66.6666% }
	.row .suffix_s_9  { margin-right: 74.9999% }
	.row .suffix_s_10 { margin-right: 83.3333% }
	.row .suffix_s_11 { margin-right: 91.6666% }
	.row .suffix_s_12 { margin-right: 100%     }	
}
@media (min-width: 601px) and (max-width: 900px) {
	.row .suffix_m_1  { margin-right: 8.3333%  }
	.row .suffix_m_2  { margin-right: 16.6666% }
	.row .suffix_m_3  { margin-right: 24.9999% }
	.row .suffix_m_4  { margin-right: 33.3333% }
	.row .suffix_m_5  { margin-right: 41.6666% }
	.row .suffix_m_6  { margin-right: 49.9999% }
	.row .suffix_m_7  { margin-right: 58.3333% }
	.row .suffix_m_8  { margin-right: 66.6666% }
	.row .suffix_m_9  { margin-right: 74.9999% }
	.row .suffix_m_10 { margin-right: 83.3333% }
	.row .suffix_m_11 { margin-right: 91.6666% }
	.row .suffix_m_12 { margin-right: 100%     }	
}
@media (min-width: 901px) {
	.row .suffix_l_1  { margin-right: 8.3333%  }
	.row .suffix_l_2  { margin-right: 16.6666% }
	.row .suffix_l_3  { margin-right: 24.9999% }
	.row .suffix_l_4  { margin-right: 33.3333% }
	.row .suffix_l_5  { margin-right: 41.6666% }
	.row .suffix_l_6  { margin-right: 49.9999% }
	.row .suffix_l_7  { margin-right: 58.3333% }
	.row .suffix_l_8  { margin-right: 66.6666% }
	.row .suffix_l_9  { margin-right: 74.9999% }
	.row .suffix_l_10 { margin-right: 83.3333% }
	.row .suffix_l_11 { margin-right: 91.6666% }
	.row .suffix_l_12 { margin-right: 100%     }	
}

/* div_offset_num1_num2 = margin-left: num1/num2*/
.row .offset_1_2,
.row .offset_2_4,
.row .offset_3_6,
.row .offset_4_8,
.row .offset_5_10,
.row .offset_6_12  { margin-left: 50%;      }
.row .offset_1_3,
.row .offset_2_6,
.row .offset_3_9,
.row .offset_4_12  { margin-left: 33.3333%; }
.row .offset_2_3,
.row .offset_4_6,
.row .offset_6_9,
.row .offset_8_12  { margin-left: 66.6666%; }
.row .offset_1_4,
.row .offset_2_8,
.row .offset_3_12  { margin-left: 25%;      }
.row .offset_3_4,
.row .offset_6_8,
.row .offset_9_12  { margin-left: 75%;      }
.row .offset_1_5,
.row .offset_2_10  { margin-left: 20%;      }
.row .offset_2_5,
.row .offset_4_10  { margin-left: 40%;      }
.row .offset_3_5,
.row .offset_6_10  { margin-left: 60%;      }
.row .offset_4_5,
.row .offset_8_10  { margin-left: 80%;      }
.row .offset_1_6,
.row .offset_2_12  { margin-left: 16.6666%; }
.row .offset_5_6   { margin-left: 83.3333%; }
.row .offset_1_7   { margin-left: 14.2857%; }
.row .offset_2_7   { margin-left: 28.5714%; }
.row .offset_3_7   { margin-left: 42.8571%; }
.row .offset_4_7   { margin-left: 57.1428%; }
.row .offset_5_7   { margin-left: 71.4285%; }
.row .offset_6_7   { margin-left: 85.7142%; }
.row .offset_1_8   { margin-left: 12.5%;    }
.row .offset_3_8   { margin-left: 37.5%;    }
.row .offset_5_8   { margin-left: 62.5%;    }
.row .offset_7_8   { margin-left: 87.5%;    }
.row .offset_1_9   { margin-left: 11.1111%; }
.row .offset_2_9   { margin-left: 22.2222%; }
.row .offset_4_9   { margin-left: 44.4444%; }
.row .offset_5_9   { margin-left: 55.5555%; }
.row .offset_7_9   { margin-left: 77.7777%; }
.row .offset_8_9   { margin-left: 88.8888%; }
.row .offset_1_10  { margin-left: 10%;      }
.row .offset_3_10  { margin-left: 30%;      }
.row .offset_7_10  { margin-left: 70%;      }
.row .offset_9_10  { margin-left: 90%;      }
.row .offset_1_11  { margin-left: 9.0909%;  }
.row .offset_2_11  { margin-left: 18.1818%; }
.row .offset_3_11  { margin-left: 27.2727%; }
.row .offset_4_11  { margin-left: 36.3636%; }
.row .offset_5_11  { margin-left: 45.4545%; }
.row .offset_6_11  { margin-left: 54.5454%; }
.row .offset_7_11  { margin-left: 63.6363%; }
.row .offset_8_11  { margin-left: 72.7272%; }
.row .offset_9_11  { margin-left: 81.8181%; }
.row .offset_10_11 { margin-left: 90.9090%; }
.row .offset_1_12  { margin-left: 8.3333%;  }
.row .offset_5_12  { margin-left: 41.6666%; }
.row .offset_7_12  { margin-left: 58.3333%; }
.row .offset_10_12 { margin-left: 83.3333%; }
.row .offset_11_12 { margin-left: 91.6666%; }
@media (max-width: 600px) {
	.row .offset_s_1_2,
	.row .offset_s_2_4,
	.row .offset_s_3_6,
	.row .offset_s_4_8,
	.row .offset_s_5_10,
	.row .offset_s_6_12  { margin-left: 50%;      }
	.row .offset_s_1_3,
	.row .offset_s_2_6,
	.row .offset_s_3_9,
	.row .offset_s_4_12  { margin-left: 33.3333%; }
	.row .offset_s_2_3,
	.row .offset_s_4_6,
	.row .offset_s_6_9,
	.row .offset_s_8_12  { margin-left: 66.6666%; }
	.row .offset_s_1_4,
	.row .offset_s_2_8,
	.row .offset_s_3_12  { margin-left: 25%;      }
	.row .offset_s_3_4,
	.row .offset_s_6_8,
	.row .offset_s_9_12  { margin-left: 75%;      }
	.row .offset_s_1_5,
	.row .offset_s_2_10  { margin-left: 20%;      }
	.row .offset_s_2_5,
	.row .offset_s_4_10  { margin-left: 40%;      }
	.row .offset_s_3_5,
	.row .offset_s_6_10  { margin-left: 60%;      }
	.row .offset_s_4_5,
	.row .offset_s_8_10  { margin-left: 80%;      }
	.row .offset_s_1_6,
	.row .offset_s_2_12  { margin-left: 16.6666%; }
	.row .offset_s_5_6   { margin-left: 83.3333%; }
	.row .offset_s_1_7   { margin-left: 14.2857%; }
	.row .offset_s_2_7   { margin-left: 28.5714%; }
	.row .offset_s_3_7   { margin-left: 42.8571%; }
	.row .offset_s_4_7   { margin-left: 57.1428%; }
	.row .offset_s_5_7   { margin-left: 71.4285%; }
	.row .offset_s_6_7   { margin-left: 85.7142%; }
	.row .offset_s_1_8   { margin-left: 12.5%;    }
	.row .offset_s_3_8   { margin-left: 37.5%;    }
	.row .offset_s_5_8   { margin-left: 62.5%;    }
	.row .offset_s_7_8   { margin-left: 87.5%;    }
	.row .offset_s_1_9   { margin-left: 11.1111%; }
	.row .offset_s_2_9   { margin-left: 22.2222%; }
	.row .offset_s_4_9   { margin-left: 44.4444%; }
	.row .offset_s_5_9   { margin-left: 55.5555%; }
	.row .offset_s_7_9   { margin-left: 77.7777%; }
	.row .offset_s_8_9   { margin-left: 88.8888%; }
	.row .offset_s_1_10  { margin-left: 10%;      }
	.row .offset_s_3_10  { margin-left: 30%;      }
	.row .offset_s_7_10  { margin-left: 70%;      }
	.row .offset_s_9_10  { margin-left: 90%;      }
	.row .offset_s_1_11  { margin-left: 9.0909%;  }
	.row .offset_s_2_11  { margin-left: 18.1818%; }
	.row .offset_s_3_11  { margin-left: 27.2727%; }
	.row .offset_s_4_11  { margin-left: 36.3636%; }
	.row .offset_s_5_11  { margin-left: 45.4545%; }
	.row .offset_s_6_11  { margin-left: 54.5454%; }
	.row .offset_s_7_11  { margin-left: 63.6363%; }
	.row .offset_s_8_11  { margin-left: 72.7272%; }
	.row .offset_s_9_11  { margin-left: 81.8181%; }
	.row .offset_s_10_11 { margin-left: 90.9090%; }
	.row .offset_s_1_12  { margin-left: 8.3333%;  }
	.row .offset_s_5_12  { margin-left: 41.6666%; }
	.row .offset_s_7_12  { margin-left: 58.3333%; }
	.row .offset_s_10_12 { margin-left: 83.3333%; }
	.row .offset_s_11_12 { margin-left: 91.6666%; }
}
@media (min-width: 601px) and (max-width: 900px) {
	.row .offset_m_1_2,
	.row .offset_m_2_4,
	.row .offset_m_3_6,
	.row .offset_m_4_8,
	.row .offset_m_5_10,
	.row .offset_m_6_12  { margin-left: 50%;      }
	.row .offset_m_1_3,
	.row .offset_m_2_6,
	.row .offset_m_3_9,
	.row .offset_m_4_12  { margin-left: 33.3333%; }
	.row .offset_m_2_3,
	.row .offset_m_4_6,
	.row .offset_m_6_9,
	.row .offset_m_8_12  { margin-left: 66.6666%; }
	.row .offset_m_1_4,
	.row .offset_m_2_8,
	.row .offset_m_3_12  { margin-left: 25%;      }
	.row .offset_m_3_4,
	.row .offset_m_6_8,
	.row .offset_m_9_12  { margin-left: 75%;      }
	.row .offset_m_1_5,
	.row .offset_m_2_10  { margin-left: 20%;      }
	.row .offset_m_2_5,
	.row .offset_m_4_10  { margin-left: 40%;      }
	.row .offset_m_3_5,
	.row .offset_m_6_10  { margin-left: 60%;      }
	.row .offset_m_4_5,
	.row .offset_m_8_10  { margin-left: 80%;      }
	.row .offset_m_1_6,
	.row .offset_m_2_12  { margin-left: 16.6666%; }
	.row .offset_m_5_6   { margin-left: 83.3333%; }
	.row .offset_m_1_7   { margin-left: 14.2857%; }
	.row .offset_m_2_7   { margin-left: 28.5714%; }
	.row .offset_m_3_7   { margin-left: 42.8571%; }
	.row .offset_m_4_7   { margin-left: 57.1428%; }
	.row .offset_m_5_7   { margin-left: 71.4285%; }
	.row .offset_m_6_7   { margin-left: 85.7142%; }
	.row .offset_m_1_8   { margin-left: 12.5%;    }
	.row .offset_m_3_8   { margin-left: 37.5%;    }
	.row .offset_m_5_8   { margin-left: 62.5%;    }
	.row .offset_m_7_8   { margin-left: 87.5%;    }
	.row .offset_m_1_9   { margin-left: 11.1111%; }
	.row .offset_m_2_9   { margin-left: 22.2222%; }
	.row .offset_m_4_9   { margin-left: 44.4444%; }
	.row .offset_m_5_9   { margin-left: 55.5555%; }
	.row .offset_m_7_9   { margin-left: 77.7777%; }
	.row .offset_m_8_9   { margin-left: 88.8888%; }
	.row .offset_m_1_10  { margin-left: 10%;      }
	.row .offset_m_3_10  { margin-left: 30%;      }
	.row .offset_m_7_10  { margin-left: 70%;      }
	.row .offset_m_9_10  { margin-left: 90%;      }
	.row .offset_m_1_11  { margin-left: 9.0909%;  }
	.row .offset_m_2_11  { margin-left: 18.1818%; }
	.row .offset_m_3_11  { margin-left: 27.2727%; }
	.row .offset_m_4_11  { margin-left: 36.3636%; }
	.row .offset_m_5_11  { margin-left: 45.4545%; }
	.row .offset_m_6_11  { margin-left: 54.5454%; }
	.row .offset_m_7_11  { margin-left: 63.6363%; }
	.row .offset_m_8_11  { margin-left: 72.7272%; }
	.row .offset_m_9_11  { margin-left: 81.8181%; }
	.row .offset_m_10_11 { margin-left: 90.9090%; }
	.row .offset_m_1_12  { margin-left: 8.3333%;  }
	.row .offset_m_5_12  { margin-left: 41.6666%; }
	.row .offset_m_7_12  { margin-left: 58.3333%; }
	.row .offset_m_10_12 { margin-left: 83.3333%; }
	.row .offset_m_11_12 { margin-left: 91.6666%; }
}
@media (min-width: 901px) {
	.row .offset_l_1_2,
	.row .offset_l_2_4,
	.row .offset_l_3_6,
	.row .offset_l_4_8,
	.row .offset_l_5_10,
	.row .offset_l_6_12  { margin-left: 50%;      }
	.row .offset_l_1_3,
	.row .offset_l_2_6,
	.row .offset_l_3_9,
	.row .offset_l_4_12  { margin-left: 33.3333%; }
	.row .offset_l_2_3,
	.row .offset_l_4_6,
	.row .offset_l_6_9,
	.row .offset_l_8_12  { margin-left: 66.6666%; }
	.row .offset_l_1_4,
	.row .offset_l_2_8,
	.row .offset_l_3_12  { margin-left: 25%;      }
	.row .offset_l_3_4,
	.row .offset_l_6_8,
	.row .offset_l_9_12  { margin-left: 75%;      }
	.row .offset_l_1_5,
	.row .offset_l_2_10  { margin-left: 20%;      }
	.row .offset_l_2_5,
	.row .offset_l_4_10  { margin-left: 40%;      }
	.row .offset_l_3_5,
	.row .offset_l_6_10  { margin-left: 60%;      }
	.row .offset_l_4_5,
	.row .offset_l_8_10  { margin-left: 80%;      }
	.row .offset_l_1_6,
	.row .offset_l_2_12  { margin-left: 16.6666%; }
	.row .offset_l_5_6   { margin-left: 83.3333%; }
	.row .offset_l_1_7   { margin-left: 14.2857%; }
	.row .offset_l_2_7   { margin-left: 28.5714%; }
	.row .offset_l_3_7   { margin-left: 42.8571%; }
	.row .offset_l_4_7   { margin-left: 57.1428%; }
	.row .offset_l_5_7   { margin-left: 71.4285%; }
	.row .offset_l_6_7   { margin-left: 85.7142%; }
	.row .offset_l_1_8   { margin-left: 12.5%;    }
	.row .offset_l_3_8   { margin-left: 37.5%;    }
	.row .offset_l_5_8   { margin-left: 62.5%;    }
	.row .offset_l_7_8   { margin-left: 87.5%;    }
	.row .offset_l_1_9   { margin-left: 11.1111%; }
	.row .offset_l_2_9   { margin-left: 22.2222%; }
	.row .offset_l_4_9   { margin-left: 44.4444%; }
	.row .offset_l_5_9   { margin-left: 55.5555%; }
	.row .offset_l_7_9   { margin-left: 77.7777%; }
	.row .offset_l_8_9   { margin-left: 88.8888%; }
	.row .offset_l_1_10  { margin-left: 10%;      }
	.row .offset_l_3_10  { margin-left: 30%;      }
	.row .offset_l_7_10  { margin-left: 70%;      }
	.row .offset_l_9_10  { margin-left: 90%;      }
	.row .offset_l_1_11  { margin-left: 9.0909%;  }
	.row .offset_l_2_11  { margin-left: 18.1818%; }
	.row .offset_l_3_11  { margin-left: 27.2727%; }
	.row .offset_l_4_11  { margin-left: 36.3636%; }
	.row .offset_l_5_11  { margin-left: 45.4545%; }
	.row .offset_l_6_11  { margin-left: 54.5454%; }
	.row .offset_l_7_11  { margin-left: 63.6363%; }
	.row .offset_l_8_11  { margin-left: 72.7272%; }
	.row .offset_l_9_11  { margin-left: 81.8181%; }
	.row .offset_l_10_11 { margin-left: 90.9090%; }
	.row .offset_l_1_12  { margin-left: 8.3333%;  }
	.row .offset_l_5_12  { margin-left: 41.6666%; }
	.row .offset_l_7_12  { margin-left: 58.3333%; }
	.row .offset_l_10_12 { margin-left: 83.3333%; }
	.row .offset_l_11_12 { margin-left: 91.6666%; }
}